/**
 * Place your custom styles here.
 */
 
body{
  position: relative;
  float: left;
  background: url("img/bg-topo.gif") repeat-x 0 0;
  height: 100%;
  width: 100%; }

.navbar .logo{
  margin-bottom: 0px;}
  
.container{
  background-color: transparent;
  border-width: 0px;
}

img{
  width: 100%;}
  
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #ccc;
}  

h2{
  font-size:24px !important;}